<div class="center bkg-image-auth">
  <div class="card-wrapper-auth w-500">
    <h4 class="h4-bold">Unos broja bodova</h4>
    <br />
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Termini</mat-label>
        <mat-select
          [(ngModel)]="idTermin"
          name="idTermin"
          (selectionChange)="onChangeTermin($event)"
        >
          <mat-option *ngFor="let t of termini" [value]="t.id">
            {{ t.id }} - {{ t.nazivRoka }} - {{ t.predmet }} - Napomena({{
              t.napomena
            }})
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prijave za termin</mat-label>
        <mat-select [(ngModel)]="idPolaganje" name="idPolaganje">
          <mat-option *ngFor="let p of polaganja" [value]="p.id">
            {{ p.slusaPredmetDtoRes.nazivPredmet }} -
            {{ p.slusaPredmetDtoRes.imeStudent }} -
            {{ p.slusaPredmetDtoRes.prezimeStudent }} -
            {{ p.slusaPredmetDtoRes.indexStudent }} - Ostvaren broj bodova ({{
              p.ostvarenBrojBodova
            }})
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="broj bodova"
          required
          type="number"
          [(ngModel)]="ostvarenBrojBodova"
          name="ostvarenBrojBodova"
        />
      </mat-form-field>

      <div class="grid-2">
        <button mat-button (click)="goBack()" class="primary-link">
          <mat-icon> chevron_left </mat-icon>Nazad
        </button>

        <div>
          <button
            mat-raised-button
            type="submit"
            class="primary-button"
            (click)="save()"
          >
            Unesi bodove
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
