<div class="center bkg-image-auth">
  <div class="card-wrapper-auth w-500">
    <div class="h4-bold">Promena lozinke</div>
    <br />
    <form #changePasswordForm="ngForm" autocomplete="off">
      <p class="small-bold">Nova lozinka</p>
      <mat-form-field appearance="outline" class="w-300">
        <mat-label>Unesite novu lozinku</mat-label>
        <input
          matInput
          type="password"
          id="novaLozinka"
          name="novaLozinka"
          [(ngModel)]="novaLozinka"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-300">
        <mat-label>Ponovite novu lozinku</mat-label>
        <input
          matInput
          type="password"
          id="novaLozinka2"
          name="novaLozinka2"
          [(ngModel)]="novaLozinka2"
          required
        />
      </mat-form-field>

      <div class="center">
        <button class="primary-button" (click)="confirmChangePassword()">
          Potvrdi
        </button>
      </div>
    </form>
  </div>
</div>
